/*
    Created on : 25.06.2017, 16:41:41
    Author     : Vad
*/

table.table-consolidated-statement {
    font-size: 90%;
}

table.table-consolidated-statement th {
    text-align: center;
}

ul.dropdown-menu li {
    padding: 0px;
    margin: 0px;
    font-size: 100%;
    font-style: normal;
}
.my-menu-class ul {
    max-height: 600px;
    overflow-y: scroll;
}